body {
    border:100px black;
	margin: 0;
	padding: 3em;
	font-family: 'Inknut Antiqua', serif; 
	font-size: 18px;
	line-height: 1.5;
	background: #FFF;
	color: #444;
	max-width: 40em;
	border-left: 6px solid #DDD;
}

h1 {
   text-align: left;
   color: firebrick; 
  
}

article a {
	color: black;
}


h2 {
	color: black;
}

h3 {
	color: lightgray;
}

nav {
	text-align: center;
	color: lightgray;
}

h4 {
	text-align: center;
	font-style: italic;

}


p { 
	font-family: 'Inknut Antiqua', serif;
	font-weight: 300;
 }

